<div class="col-md-12">
	<div class="panel panel-default">
		{{template "backend/categorycontroller/nav.html" .}}
		<form class="form-horizontal" style="padding:0 10px 10px;" method="post">
			<div class="tabbable" id="tabs-456969">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-118609" data-toggle="tab">基本设置</a>
					</li>
					<li>
						<a href="#panel-602131" data-toggle="tab">静态设置</a>
					</li>
					<li>
						<a href="#panel-602132" data-toggle="tab">模板设置</a>
					</li>
					<li>
						<a href="#panel-602133" data-toggle="tab">SEO设置</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-118609" style="padding:10px 0;">
						<fieldset>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="typeahead">Text input </label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control col-md-6" id="typeahead" autocomplete="off" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
                                    <p class="help-block">Start typing to activate auto complete!</p>
                                </div>
                            </div>
                        </fieldset>
					</div>
					<div class="tab-pane" id="panel-602131">
						<p>
							Howdy, I'm in Section 2.
						</p>
					</div>
					<div class="tab-pane" id="panel-602132">
						<p>
							Howdy, I'm in Section 2.
						</p>
					</div>
					<div class="tab-pane" id="panel-602133">
						<p>
							Howdy, I'm in Section 2.
						</p>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Save changes</button>
		</form>
	</div>
</div>